/*
CSS
*/

html {
  background-color: #E8DDCB;
}

body {
  margin: 0;
  padding: 0;
  font: .625em Georgia, Serif;
  background-color: #E8DDCB;
  color: #363636;
}

#page {
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 800px;
  font-size: 1.2em;
}

/*
General
*/

p {
	margin: 1.4em 0;
	padding: 0;
	line-height: 1.4em;
}

img {
	border: 0;
}

hr {
	display: none;
}

a,
a:link,
a:active,
a:visited {
	color: #033649;
	text-decoration: none;
	border-bottom: 1px dotted #033649;
}

a:hover {
	border-bottom: 1px solid #033649;
}

blockquote {
  margin: auto;
  padding: 0;
  width: 520px;
  background: transparent url(../images/quote-left.gif) no-repeat 0 0;
  text-align: center;
  color: #033649;
  font-size: 2em;
  font-style: italic;
}

blockquote p {
	line-height: 2em;
	background: transparent url(../images/quote-right.gif) no-repeat bottom right;
}

/*
Headers
*/

h1,
h2,
h3,
h4 {
	line-height: 1.286;
	margin: .4em 0;
	padding: 0;
}

h1 {
	font-weight: normal;
	font-size: 2.2em;
	text-align: center; 		
	color: #031634;
} 
 
h2 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.8em; 
	color: #033649;
	font-style: italic;
	clear: both;
}

h3 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.6em;
	color: #036564;
}  

h4 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.4em; 
	color: #036564;
}  


/*
Header
*/

#header {
  border-bottom: 1px dotted #CDB380;
}

#header #logo {
  margin: auto;
  width: 300px;
  height: 215px;  
  background: transparent url(../images/logo-small-acts.png) no-repeat 0 0;
  text-indent: -9999px;
}

#header #logo a {
  display: block;
  width: 300px;
  height: 215px;
  border: none;	
}

/*
Content
*/

#content {
  margin: 0 20px;
  font-size: 1.4em;
}

ul#acts li {
  line-height: 1.4em;
}

ul#members {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
	font-size: .8em;
}

ul#members li {
	width: 190px;
	line-height: 2em;
	text-align: center;
	float: left;
}

/*
Forms
*/

form {
  margin: 20px 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 20px;
}

form div {
  padding: 0 0 10px 0;
}

form .textfield {
  font-size: 1.2em;
  padding: 2px;
  display: block;
  width: 400px;
}

.error {
  color: #900;
}

form p {
  margin: -45px 0 0 440px;
  padding: 8px;
  width: 300px;
  position: absolute;
  border: 1px solid #033649;
  background-color: #036564;
  color: #fff;
  font-size: .9em;
  font-family: Arial, Helvetica, Sans-Serif;
}

form p em {
  font-size: 1.2em;
  display: block;
}

.info_label {
  display: none;
}

.button {
  width: 200px;
  text-align: center;
  padding: 4px;
  font-size: 1.2em;
  background-color: #031634;
  color: #fff;
  border: none;
}

/*
Footer
*/

#footer {
  clear: both;
  font-size: .9em;
  padding: 0 20px;
  border-top: 1px dotted #CDB380;
}

#footer img {
  vertical-align: middle;
}

#footer #django {
 float: right;
 border: none;
}

/*
Clearfix
*/

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
.clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */
