{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h3>{% trans "Get involved" %}</h3>

<form action="." method="POST">
  {% csrf_token %}

  {% for field in form %}
    <div class="formRow">
    {% if not forloop.last %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% endif %}
      <p class="help"><small>{{ field.help_text }}</small></p>
      {{ field }}
      {{ field.errors }}
    </div>
  {% endfor %}
    <div class="formRow">
      <input type="submit" class="btnWhite" value="{% trans "Send" %}" />
    </div>
</form>

{% endblock content %}
