{% extends "base.html" %}

{% block content %}

<h1>Community badges</h1>

<h2 id="badge-subtitle">Are you agree with us? Display one of these handy badges to promote the idea.</h2>

<p>Copy and paste the source below each image to link to <strong>smallactsmanifesto.org</strong>.</p>

<div id="badge-content">
<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-80x15.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>80x15</strong> default</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_80x15_default" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-80x15.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>

<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-80x15-blue.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>80x15</strong> blue</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_80x15_blue" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-80x15-blue.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>

<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-88x31.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>88x31</strong> default</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_88x31_default" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-88x31.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>

<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-88x31-blue.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>88x31</strong> blue</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_88x31_blue" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-88x31-blue.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>

<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-110x32.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>110x32</strong> default</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_110x32_default" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-110x32.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>

<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-110x32-blue.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>110x32</strong> blue</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_110x32_blue" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-110x32-blue.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>

<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-120x60.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>120x60</strong> default</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_120x60_default" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-120x60.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>

<p><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="{{ MEDIA_URL }}/images/smallacts-badge-120x60-blue.png" style="border: none;" alt="Small Acts Manifesto" /></a> <strong>120x60</strong> blue</p>
<form method="post" action="#" class="frm_badges">
  <fieldset>
    <label><textarea name="badge_120x60_blue" cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"&gt;&lt;img src="http://smallactsmanifesto.org/media/images/smallacts-badge-120x60-blue.png" style="border: none;" alt="Small Acts Manifesto" /&gt;&lt;/a&gt;</textarea> </label>
  </fieldset>
</form>
</div>

{% endblock content %}
