{% extends "base.html" %}

{% block content %}

<p>We are uncovering better ways of developing communities by doing it and help others do it.</p>

<p>Through this endeavor we have come to value:</p>

<ul id="acts">
 <li>Trust - which must be respected and never put in risk.</li>
 <li>Personal contact - as the way to establish a truly trustful relationship.</li>
 <li>Transparency - the mean to maintain a sustainable community</li>
 <li>Diversity - people have interests, groups reflect those interests, but if you need a label, label yourself as a human.</li>
 <li>Example - how you must teach, how you must live and how you can learn.</li>
 <li>Give, give, give! - you'll be impressed how fast things will come back.</li>
 <li>Focus - do the simplest and essential thing and pass it forward.</li>
 <li>Consistency - things take time, intensity is not always the answer.</li>
</ul>

<p>Those points together make the essence of a SmallAct capable to transform people lives.</p>

<h2><a href="/signup">Get involved &raquo;</a><h2>

{% block signatures %}
{% endblock signatures %}

{% endblock content %}
