{% extends "base.html" %}

{% block content %}

<h1>The art of communicating through human contact ideas about reality</h1>

<p>Since a couple of years we've been gathering people together, first under certain disconnected meetings that then became an utterly related net of meetings every week or month. We've been individually seeking for self-betterment, while keeping the belief that it is better to grow as a community. It is of no use to learn something and don't be able to share it, to have other people discuss it and point their own ideas. Pursuing knowledge without being able to spread the word is useless.</p>

<p>We are uncovering better ways of developing communities by doing it and helping others do it.</p>

<p>Through this endeavor we have come to value:</p>

<ul id="acts">
 <li>Trust must be respected and never put in risk.</li>
 <li>Transparency is the mean to establish a sustainable community</li>
 <li>Personal contact is the only way you can establish a trully trustufull relationship.</li>
 <li>People have interests, groups has interests, but if you need a label, label yourself as a human.</li>
 <li>Teach by example, live by example and learn by example</li>
 <li>Give, give, give. You'll be impressed how fast things will come back.</li>
</ul>

<p>Those six points together make the essence of a small act capable of transforming people lives.</p>

{% block signatures %}
{% endblock signatures %}

{% endblock content %}
