{% extends "base.html" %}

{% block content %}

<p>We are discovering better ways of building communities by doing it and help others do it.</p>

<p>Through this endeavor we have come to value:</p>

<ul id="acts">
 <li><strong>Trust</strong> - which must be respected and never put at risk;</li>
 <li><strong>Personal contact</strong> - is the way to establish a truly trustful relationship;</li>
 <li><strong>Transparency</strong> - the mean to maintain a sustainable community;</li>
 <li><strong>Diversity</strong> - people have many interests, but if you need a label, label yourself as a human;</li>
 <li><strong>Example</strong> - that's how you must teach, live and learn;</li>
 <li><strong>Consistency</strong> - things take time, intensity is not always the answer.</li>
 <li><strong>Give, give, give!</strong> - you'll be impressed how fast things will come back;</li>
 <li><strong>Do it!</strong> - as simple as you can, just what is essential to pass it forward.</li>
</ul>

<p>Those points together make the essence of a <em>SmallAct</em> capable to transform people lives.</p>

<h2><a href="/signup">Get involved &raquo;</a></h2>

{% block signatures %}
{% endblock signatures %}

{% endblock content %}
