{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
{% trans "Small Acts Manifesto" as title %}
{% trans "small acts, manifesto, small acts manifesto, principles, community" as keywords %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ title }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta http-equiv='content-Language' content='{{ LANGUAGE_CODE }}' />
    <link type="image/x-icon" href="{% static "favicon.ico" %}" rel="shortcut icon" />

    <title>{{ title }}</title>

    <link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet" media="screen" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
</head>
<body>
    <div class="header row">
        <h1><a href="{% url core:index %}"><img src="{% static "images/logo-small-acts.png" %}" alt="Logo"/></a></h1>
        <h2>Small Acts Make Great Revolutions</h2>
    </div>
    <hr>
    {% block contentHeader %}
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% endblock contentHeader %}
    <div class="footer row">
        <form id="setlang" action="{% url django.views.i18n.set_language %}" method="post">
            {% csrf_token %}
            <input name="language" type="hidden" value="" />
        </form>
        <script type="text/javascript">
            function setlang(language) {
                $('input[name="language"]').val(language);
                $('form#setlang').submit();
            }
        </script>
        <dl>
            <dt>{% trans "Languages" %}</dt>
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <dd><a href="javascript:setlang('{{ language.code }}');">{{ language.name_local|title }}</a></dd>
            {% endfor %}
            <dd><a href="https://www.transifex.com/projects/p/smallactsmanifesto/" target="_blank">{% trans "Add yours..." %}</a></dd>
        </dl>
        <dl>
            <dt>{% trans "Share" %}</dt>
            <dd><a href="{% url core:community-badges %}">{% trans "Community badges" %}</a></dd>
            <!--<dd><a href="#">Wallpaper</a></dd>-->
        </dl>
        <div>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                <img alt="{% trans "Creative Commons License" %}" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" />
            </a>
        </div>
        <div>
            <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite80x15_grey.gif" alt="{% trans "A Django site." %}" title="{% trans "A Django site." %}" /></a></span>
        </div>
    </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-12791385-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
