{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Community badges" %}</h1>

<h2 id="badge-subtitle">{% trans "Display one of these handy badges to promote the principles." %}</h2>

<p>{% trans "Copy and paste the source below each image to link to <strong>smallactsmanifesto.org</strong>." %}</p>

<div id="badge-content">

{% for b in badges %}

<p><img src="{{ STATIC_URL }}images/smallacts-badge-{{ b.sufix }}.png" style="border: none;" alt="Small Acts Manifesto" /> <strong>{{ b.size }}</strong> {{ b.name }}</p>
<textarea cols="50" rows="3">&lt;a href="http://smallactsmanifesto.org" title="{{ title }}"&gt;&lt;img src="http://smallactsmanifesto.org{{ STATIC_URL }}images/smallacts-badge-{{ b.sufix }}.png" style="border: none;" alt="{{ title }}" /&gt;&lt;/a&gt;</textarea>

{% endfor %}

</div>

{% endblock content %}
