{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h3>{% trans "Community badges" %}</h3>

<p>{% trans "Display one of these handy badges to promote the principles." %}</p>

<p>{% trans "Copy and paste the source below each image to link to <strong>smallactsmanifesto.org</strong>." %}</p>

{% for b in badges %}
<div class="row-2">
<p><img src="{{ STATIC_URL }}images/smallacts-badge-{{ b.sufix }}.png" alt="{%  trans "Small Acts Manifesto" %}" /> <strong>{{ b.size }}</strong> {{ b.name }}</p>
</div>

<textarea>&lt;a href="http://smallactsmanifesto.org" title="{{ title }}"&gt;&lt;img src="http://smallactsmanifesto.org{{ STATIC_URL }}images/smallacts-badge-{{ b.sufix }}.png" style="border: none;" alt="{{ title }}" /&gt;&lt;/a&gt;</textarea>
{% endfor %}

{% endblock content %}
