{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "We are discovering better ways of building communities by connecting people." %}</p>

<p>{% trans "Through this endeavor we have come to value:" %}</p>

<ul>
    <li><strong>{% trans "Trust"  %}</strong>{% trans " - which must be respected and never put at risk;" %}</li>
    <li><strong>{% trans "Dialog" %}</strong>{% trans " - is the way to establish a truly trustful relationship;" %}</li>
    <li><strong>{% trans "Personal Contact" %}</strong>{% trans " - the richest experience, not matched by any media or technology;" %}</li>
    <li><strong>{% trans "Transparency" %}</strong>{% trans " - the mean to maintain a sustainable community;" %}</li>
    <li><strong>{% trans "Diversity" %}</strong>{% trans " - people have many interests, but if you need a label, label yourself as a human;" %}</li>
    <li><strong>{% trans "Self-organization" %}</strong>{% trans " - leaders emerge, but there should be no owners;" %}</li>
    <li><strong>{% trans "Example" %}</strong>{% trans " - that's how you must teach, live and learn;" %}</li>
    <li><strong>{% trans "Consistency" %}</strong>{% trans " - things take time, intensity is not always the answer;" %}</li>
    <li><strong>{% trans "Give, give, give!" %}</strong>{% trans " - you'll be impressed by how fast things will come back;" %}</li>
    <li><strong>{% trans "Do it!" %}</strong>{% trans " - as simple as you can, just what is essential to pass it forward." %}</li>
</ul>

<p>{% trans "Together, these elements build the foundation of a <em>Small Act</em> capable of transforming people's lives." %}</p>

<p class="textAlignCenter"><a href="{% url signatures:signup %}" class="btnBasic btnWhite">{% trans "Get involved" %} &raquo;</a></p>

<ul class="members row">
{% for signatory in signatories %}
    <li>
    {% if signatory.url %}
        <a href="{{ signatory.url }}" rel="nofollow">{{ signatory.name }}</a>
    {% else %}
        {{ signatory.name }}
    {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock content %}
