{% extends "base.html" %}

{% block content %}

<h1 id="about">Estamos descobrindo melhores formas de construir comunidades conectando pessoas.</h1>

<p>Através desta busca, aprendemos a valorizar:</p>

<ul id="acts">
 <li><strong>Confiança</strong> - que deve ser respeitada e nunca ameaçada;</li>
 <li><strong>Diálogo</strong> - é a única maneira de construir um verdadeiro relacionamento de confiança;</li>
 <li><strong>Contato Pessoal</strong> - é experiência mais rica existente, insuperável por qualquer mídia ou tecnologia;
 <li><strong>Transparência</strong> - é o meio para manter uma comunidade sustentável;</li>
 <li><strong>Diversidade</strong> - se você precisa de um rótulo, defina-se como Humano;</li>
 <li><strong>Auto-organização</strong> - líderes emergem, mas não devem existir donos;</li>
 <li><strong>Exemplo</strong> - é como você deve ensinar, viver e aprender;</li>
 <li><strong>Consistência</strong> - tudo tem seu tempo, intensidade nem sempre é a resposta;</li>
 <li><strong>Doe-se, doe-se, doe-se!</strong> - você se surpreenderá como isso retorna rápido;</li>
 <li><strong>Faça!</strong> - o mais simples possível, apenas o essencial para passar adiante.</li>
</ul>

<p>Juntos, estes elementos constituem os fundamentos de um <em>Pequeno Ato</em> capaz de transformar vidas.</p>

<p><a href="/signup" id="get-involved">Envolva-se &raquo;</a></p>

<ul id="members" class="clearfix">
  {% for signatory in signatories %}
    <li>
      {% if signatory.url %}
        <a href="{{ signatory.url }}" rel="nofollow">{{ signatory.name }}</a>
      {% else %}
        {{ signatory.name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock content %}
